
{% extends 'handicaps/base.html' %}
{% block content %}
<br>
<br>
<h3><a href="/">WPGL Active Golfer List</a></h3>
    <table class="table table-sm table-striped">
      <thead class="thead-dark">
        <th scope="col">ID</th>
        <th scope="col">Golfer Name</th>
        <th scope="col">Tees</th>
        <th scope="col">Status</th>
        <th scope="col">Team Name</th>
        <th scope="col">Team Role</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
      </thead>
      <tbody>
        {% for golfer in golfers %}
          <tr>
            <th scope="row">{{ golfer.id }}</th>
            <td>{{ golfer }}</td>
            <td>{{ golfer.tees }}</td>
            <td>{{ golfer.status }}</td>
            <td>{{ golfer.team }}</td>
            <td>{{ golfer.role }}</td>
            <td>{{ golfer.email }}</td>
            <td>{{ golfer.phone }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
